{{define "template.cmdi"}} {{template "template.header" .}} {{template "template.sidebar" .}}
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">Command Injection</div>
        <div class="panel-body">
            <div class="pnl">
                <!-- <span class="subheader">SQL Injection Vulnerability</span> -->
								<p>Search the book 'The Sign of Four', by Arthur Conan Doyle:</p>
                <div class="well">
                    <form class="form-inline" method="POST">
                    <div class="form-group">
                        <label for="name" style="color:#428bca;font-family:Open Sans; font-weight:500">Enter a term</label>
                        <input type="text" class="form-control" name="search" id="term">
                        <input type="submit" class="btn btn-small btn-primary" value="Search">
                    </div>
                   </form>
                </div>
                <div class="more-info">
									<p>Output: </p>
									<ul>
										{{ range $i, $val := .out }}
										<li><b>{{inc $i}}: </b>{{ $val }}</li>
										{{ end }}

									</ul>
									{{ if .error }}
									<div class="alert alert-danger">Error: {{.error}}</div>
									{{ end }}
                </div>    
            </div>
        </div>
    </div>
</div>
{{template "template.footer"}} {{ end }}
